* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	background:#1e293b;
}

.DeleteBtn{
	color: red;
	font-size: 1.4rem;
	background: transparent;
	border: none;
	cursor: pointer;
	width: auto;

}

p {
font-weight: bolder;
color: #ffff00;

}
p span{
	font-weight: lighter;
	padding: 0 5px;
	color: white;
}


